body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
  overflow-y: hidden;
}
